.dietology
	padding-bottom: 50px   
	.wrapper_image
		position: relative 
		height: 96vh
		width: 100%
		// transition: 2s
		// transform: translateY(-20%)		
		z-index: 2 
		.img-bg
			-webkit-box-shadow: 0px 0px 99px
			border-bottom-left-radius: 80%  
			border-bottom-right-radius: 80%
			display: flex			
			justify-content: center
			align-items:  center
			flex-direction:  column
			.top-text
				font-size: 50px 
				font-family: Comfortaa
				font-weight: bold
				color: white 
			.top-title
				font-size: 90px 
				font-family: Comfortaa
				font-weight: bold  
				color: white 
	.wrapper_all_content
		margin-top: -550px
		// transition: 2s			
		.middle-title			 
			font-size: 70px
			font-weight: bold 
			font-family: Comfortaa 
		.middle-description
			font-family: Montserrat
			font-size: 16px 

		.first_list_name
			font-size: 16px 
			font-weight: bold
			margin-top: 50px 	
			margin-bottom: 20px 
		.first_list
			font-size: 16px 
			ol
				margin-left: 40px 		
			li:before
				content: " "
				position: absolute
				margin-left: -40px				
				margin-top: 10px
				background: $green 
				color: $green				
				width: 15px
				height: 5px  
		.second_list_name
			font-size: 16px 
			font-weight: bold 
			margin-top: 50px 	
			margin-bottom: 20px
		.second_list
			font-size: 16px 
			ol
				margin-left: 40px 						
			li:before
				content: " "
				position: absolute
				margin-left: -40px			
				margin-top: 10px
				background: $green 
				color: $green				
				width: 15px
				height: 5px  
		.circle_1		
			border-radius: 50%			 		 
			width: 240px
			height: 240px						
			border: 13px solid $blue		
			border-top: 13px solid white	
			transform: rotate(45deg)
			display: flex			
			justify-content: center			
			align-items: center	
			-webkit-animation: spin 4s linear infinite
			-moz-animation: spin 4s linear infinite
			animation: spin 4s linear infinite
			@-moz-keyframes spin
				100%
					-moz-transform: rotate(360deg)
			@-webkit-keyframes spin
				100%
					-webkit-transform: rotate(360deg)
			@keyframes spin
				100%
					-webkit-transform: rotate(360deg)
					transform: rotate(360deg)
			.inside
				border-radius: 50%			 
				width: 180px
				height: 180px			
				background-color: #F5F5F5
		.text_inside
			font-size: 30px 
			margin-top: -160px
			margin-left: 100px  
		.bottom-image			
			.img-bottom
				height: 1000px
				width: 100% 
				background-size: cover
				display: flex			
				justify-content: center
				align-items:  center
				flex-direction:  column
				.bottom_text_1
					font-size: 30px  
					font-family: Comfortaa
					font-weight: bold   	
					color: white
								
				.bottom_text_2
					font-size: 30px  
					font-family: Comfortaa
					font-weight: bold   	
					color: #FFA400					
				.button
					border: 2px solid $orange
					border-radius: 25px 25px 25px 25px
					top: 5%
					right: 5%  
					color: $orange 
					font-size: 20px 
					font-family: Comfortaa
					font-weight: bold 
					padding: 10px 20px 10px 20px