
.methodology 
	// padding-top: 100px
	padding-bottom: 50px   
	.wrapper_image
		position: relative 
		height: 96vh
		width: 100%
		transition: 2s
		// transform: translateY(-20%)		
		z-index: 2 
		.img-bg
			-webkit-box-shadow: 0px 0px 99px
			border-bottom-left-radius: 80%  
			border-bottom-right-radius: 80%
		.top-text							
			font-family: Comfortaa	
			font-size: 30px 	
			text-align: center  				
		.title-top
			font-family: Comfortaa		
			font-size: 50px 	
			text-align: center
	.wrapper_all_content
		margin-top: -550px
		// transition: 2s
		 
		.middle				
			.title-mid	
				font-size: 50px
				font-family: Comfortaa  	
			.blue-line						
				margin: 0 
				display: flex
				transform: translateX(-100%)
				transition: 3s ease-in-out							
				
				.line
					background: $blue
					width: 1450px  
					height: 10px 
					border-bottom-right-radius: 5px
					border-top-right-radius: 5px
				.small-line
					display: none 
					background: $blue
					width: 10px  
					height: 10px 
					border-radius: 50%
					margin-left: 20px 
			.title-describe		
				font-size: 20px 		
				color: red					 
			.describe		
				font-family: Montserrat
				font-size: 16px  						
			.title1		
				font-family: Montserrat
				font-size: 18px  
				font-weight: bold 						
			.describe1
				font-family: Montserrat
				font-size: 16px  
			.image-mid
				z-index: 2 
				
				border-radius: 50% 		
				// margin-left: 100px 	
				padding: 12px
				border-width: 10px 						
				border-style: solid
				border-color: $blue 
				display: flex			
				justify-content: center			
				align-items:  center
				.middle-image
					height: 380px
					width: 380px							 
					border-radius: 50% 
		.bottom
			.describe2
				font-family: Comfortaa
				font-weight: bold 
				font-size: 30px
				margin-left: 15%    
			.circle1
				height: 60px 
				width: 60px 
				border-radius: 50%
				color: red 
			.title-dieta
				font-family: Comfortaa
				font-weight: bold 
				font-size: 30px 
				margin-left: 15%  
			.title-kinezoterapia
				font-family: Comfortaa
				font-weight: bold
				font-size: 30px 
				margin-left: 15%  
			.dieta
				font-family: Montserrat
				font-size: 14px 
				margin-left: 15%  
			.kinezoterapia
				font-family: Montserrat
				font-size: 14px 
				margin-left: 15%  
			.title-manual
				font-family: Comfortaa
				font-weight: bold
				font-size: 30px 
				margin-left: 15%  
			.title-psyhoterapia
				font-family: Comfortaa
				font-weight: bold
				font-size: 30px 
				margin-left: 15%  
			.manual
				font-family: Montserrat
				font-size: 14px 
				margin-left: 15%  
			.psyhoterapia
				font-family: Montserrat
				font-size: 14px 
				margin-left: 15%  
			.details
				color: green 
				margin-left: 15%  

			.bottom-image
					.img-bottom
						height: 500px
						width: 100% 
						background-size: 100%
						-webkit-box-shadow: inset -14px -127px 85px -13px rgba(255,255,255,0.7)
						-moz-box-shadow: inset -14px -127px 85px -13px rgba(255,255,255,0.7)
						box-shadow: inset -14px -127px 85px -13px rgba(255,255,255,0.7)
						