.program
	padding-bottom: 50px
	// background-color: #F5F5F5 
	.wrapper_image
		background-color: #F5F5F5 
		position: relative 
		height: 96vh
		width: 100%
		transition: 2s
		transform: translateY(-70%)	
		.img-bg
			-webkit-box-shadow: 0px 0px 99px
			border-bottom-left-radius: 80%  
			border-bottom-right-radius: 80%
			position: absolute
			bottom: 0
			left: -30px
			right: -30px   
			display: flex			
			justify-content: center
			align-items:  center
			flex-direction:  column
			.top-text
				font-size: 40px 
				font-family: Comfortaa 
				font-weight: bold
				color: white 
			.title-top
				font-size: 80px 
				font-family: Comfortaa
				font-weight: bold  
				color: white 

			.header-low			
				.logo-days
				.title-days	
					font-size: 20px 
					font-family: Comfortaa
				.logo-stage
				.title-stage	
					font-size: 20px 
					font-family: Comfortaa		
				.arrow
	.wrapper_all_content
		.top-wrapper
			background-color: #F5F5F5 
			.top-title	
				font-size: 80px 
				font-family: Comfortaa
				font-weight: bold
				padding-left: 60px
			.line				 
				display: flex				
				.blue-line
					background: $blue
					width: 1450px  
					height: 10px 
					border-bottom-right-radius: 5px
					border-top-right-radius: 5px
				.blue-point					
					background: $blue
					width: 10px  
					height: 10px 
					border-radius: 50%
			.top-describe
				padding-top: 20px
				padding-bottom: 60px  
				font-size: 24px 
				padding-left: 60px
		.syndrom
			background-color: #F5F5F5 
			.container
				background: #F5F5F5
				.top.top-describe 
					font-family: Montserrat
					font-size: 14px  	
				.top.top-title
					padding-top: 20px
					padding-bottom: 10px  
					font-family: Montserrat,Regular
					font-size: 14px  
					font-weight: bold 	
				.top.middle-describe
					font-family: Montserrat
					font-size: 14px
					padding-bottom: 20px   	
				.top.middle-title
					font-family: Montserrat,Regular
					font-size: 14px 
					font-weight: bold  	
				.first-image				
					.img-bg	
						position: relative 
						height: 450px
						width: 450px							 
						border-radius: 50% 
						padding: 30px
						border-width: 10px 						
						border-style: solid 
						border-color: $blue					
				.top.bottom-list
					font-size: 14px
					font-family: Montserrat,Regular
					 
				ol
					margin-left: 40px 						
				li:before
					content: " "
					position: absolute
					margin-left: -40px			
					margin-top: 10px
					background: $green 
					color: $green				
					width: 15px
					height: 5px					
				
				.text.circle
					border-radius: 50%			 		 
					width: 240px
					height: 240px						
					border: 13px solid $blue		
					border-top: 13px solid #F5F5F5	
					transform: rotate(85deg)
					display: flex			
					justify-content: center			
					align-items: center	
					z-index: 2  
					margin-top: 60px 
					.inside
						border-radius: 50%			 
						width: 180px
						height: 180px			
						background-color: white
						z-index: 2 
						.text.description
							font-size: 30px 
							margin-top: -190px 
							transform: rotate(275deg)	

				.top.bottom-tittle
					font-size: 15px 
					font-family: Comfortaa
					font-weight: bold

		.about_program
			background: white 
			.about_program.title
				font-size: 80px 
				font-family: Comfortaa
				font-weight: bold
				margin-left: 60px
			.line		
				display: flex 	
				.about_program.orange_line
					height: 10px
					width: 45%
					background: #FCA425 
					border-bottom-right-radius: 5px
					border-top-right-radius: 5px
					
				.about_program.orange_dot					
					height: 10px
					width: 10px  
					background: #FCA425 
					border-radius: 50% 
					margin-left: 30px
			.about_program.description
				font-size: 24px 
				font-family: Comfortaa
				margin-left: 60px
				padding-bottom: 80px 
		.container
			.image-mid
				.img-bg 
					position: relative 
					height: 380px
					width: 380px							 
					border-radius: 50% 
					padding: 30px
			.about_program.first_title
				font-size: 24px 
				font-family: Comfortaa	
				font-weight: bold 
			.about_program.first_description
				font-size: 14px
				font-family: Montserrat,Regular
				padding-bottom: 20px 
			.about_program.second_title
				font-size: 24px 
				font-family: Comfortaa	
				font-weight: bold 
			.about_program.second_description
				font-size: 14px
				font-family: Montserrat,Regular
				padding-bottom: 20px  
			.about_program.third_title
				font-size: 24px 
				font-family: Comfortaa	
				font-weight: bold 
			.about_program.third_description
				font-size: 14px
				font-family: Montserrat,Regular
				padding-bottom: 20px 			
			.program_how_head
				font-size: 48px 
				font-family: Comfortaa	
				font-weight: bold
			.program_how_step
				font-size: 30px 
				font-family: Comfortaa	
				font-weight: bold				
				color: $green 
			.program_how_step_first
				font-size: 30px 
				font-family: Comfortaa	
				font-weight: bold				
			.program_how_description_first
				font-size: 14px
				font-family: Montserrat,Regular
			.program_how_second
				font-size: 30px 
				font-family: Comfortaa	
				font-weight: bold				
				color: $green 
			.program_how_title_second
				font-size: 30px 
				font-family: Comfortaa	
				font-weight: bold		
			.program_how_description_second
				font-size: 14px
				font-family: Montserrat,Regular
		.program_stages
		
			
			.program_stages_wrapper
				.program_stages.title
					font-size: 80px 
					font-family: Comfortaa
					font-weight: bold
					margin-left: 60px
				.line
					display: flex 
					.program_stages.green_line
						height: 10px
						width: 45%
						background: $green 
						border-bottom-right-radius: 5px
						border-top-right-radius: 5px		
					.program_stages.green_point
						height: 10px
						width: 10px  
						background: $green  
						border-radius: 50% 
						margin-left: 30px
				.program_stages.description
					font-size: 14px
					font-family: Montserrat,Regular
					margin-left: 60px
					margin-bottom: 30px
			.container
				.stage_1			
					padding-top: 110px 	
					.stage_first_name
						font-size: 30px 
						font-family: Comfortaa	
						font-weight: bold				
						color: $green 
					.stage_first_title
						font-size: 30px 
						font-family: Comfortaa	
						font-weight: bold
					.stage_first_list
						font-size: 14px
						font-family: Montserrat,Regular
						ol
						margin-left: 40px 						
						li:before
							content: " "
							position: absolute
							margin-left: -40px			
							margin-top: 10px
							background: $green 
							color: $green				
							width: 15px
							height: 5px
				.stage_first_image
					
					.img-bg				
						position: relative		 
						height: 500px
						width: 500px							 
						border-radius: 50% 
						padding: 40px
						border: 40px solid #FFFFFF					
				.stage_two
					display: flex 
					.img-bg
						position: relative		 
						height: 500px
						width: 500px							 
						border-radius: 50% 
						padding: 40px
						border: 40px solid #FFFFFF
				.stage_2
					padding-top: 140px 
					.stage_two_name
						font-size: 30px 
						font-family: Comfortaa	
						font-weight: bold				
						color: $green	
					.stage_two_title
						font-size: 30px 
						font-family: Comfortaa	
						font-weight: bold
					.stage_two_description
						font-size: 14px
						font-family: Montserrat,Regular
				.stage_3
					padding-top: 50px 
					.stage_three_name
						font-size: 30px 
						font-family: Comfortaa	
						font-weight: bold				
						color: $green
					.stage_three_title
						font-size: 30px 
						font-family: Comfortaa	
						font-weight: bold		
					.stage_third_list
						font-size: 12px
						font-family: Montserrat,Regular
						ol
						margin-left: 40px 						
						li:before
							content: " "
							position: absolute
							margin-left: -40px			
							margin-top: 10px
							background: $green 
							color: $green				
							width: 15px
							height: 5px
					.stage_three_description
						font-size: 14px
						font-family: Montserrat,Regular
				.stage_three_img
					.img-bg 
						position: relative		 
						height: 500px
						width: 500px							 
						border-radius: 50% 
						padding: 40px
						border: 40px solid #FFFFFF
				.stage_4
					.img-bg 
						position: relative		 
						height: 500px
						width: 500px							 
						border-radius: 50% 
						padding: 40px
						border: 40px solid #FFFFFF
				.stage_4_name		
					padding-top: 150px 			
					.stage_name_4
						font-size: 30px 
						font-family: Comfortaa	
						font-weight: bold				
						color: $green
					.stage_4_title
						font-size: 30px 
						font-family: Comfortaa	
						font-weight: bold	
					.stage_4_description
						font-size: 14px
						font-family: Montserrat,Regular
		.bottom-image
			.img-bottom
				height: 100vh
				background-size: cover
				display: flex			
				justify-content: center
				align-items:  center
				flex-direction:  column
				
				.bottom_text_1
					font-size: 30px  
					font-family: Comfortaa
					font-weight: bold   	
					color: white
								
				.bottom_text_2
					font-size: 30px  
					font-family: Comfortaa
					font-weight: bold   	
					color: #FFA400					
				.button
					border: 2px solid $orange
					border-radius: 25px 25px 25px 25px
					top: 5%
					right: 5%  
					color: $orange 
					font-size: 20px 
					font-family: Comfortaa
					font-weight: bold 
					padding: 10px 20px 10px 20px